        /* ==========================================================================
           Layout LESS-CSS
           ========================================================================== */

           /* CSS Transitions */
           * {
            //transition:all 100ms ease;
          }

          input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #333 !important;
          }
          input:-moz-placeholder, textarea:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #333 !important;
          }
          input::-moz-placeholder, textarea::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #333 !important;
          }
          input:-ms-input-placeholder, textarea:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #333 !important;
          }

          ///////

          /* Highregular Styles */
          ::selection { background-color:#FFF; color:@color; }
          ::-moz-selection { background-color:#FFF; color:@color; }

          ::-webkit-input-placeholder { /* WebKit browsers */
            color: #000;
          }
          :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #000;
          }
          ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #000;
          }
          :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #000;
          }
          body {
            color: #000;
            background-color: #000;
            overflow-x: hidden;
          }
          html, body{  
            height: 100%;
            min-height: 100%;
            font-family: @font-sans;
            font-size: 14px;
            line-height: 20px;
          }
          a {
            transition:all 0.2s ease;
          }     
          a:active, a:focus, a:hover {
            text-decoration: none !important;
            outline: none;
            color: @color;
          }      
          h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
          }
          ul, ol {
            margin: 0;
            padding: 0;
          }
          .clear {
            clear: both;
            display: block;
            overflow: hidden;
            visibility: hidden;
            width: 0;
            height: 0;
          }
          img {
            max-width: 100%;
            height: auto;
          }
          /* centered columns styles */
          .row-centered {
            text-align:center;
          }
          .col-centered {
            display:inline-block;
            float:none;
            /* reset the text-align */
            text-align:left;
            /* inline-block space fix */
            margin-right:-4px;
          }

          textarea:hover, 
          input:hover, 
          textarea:active, 
          input:active, 
          textarea:focus, 
          input:focus,
          button:focus,
          button:active,
          button:hover {
            outline:0px !important;
            -webkit-appearance:none;
          }   
          body.in {
            overflow: hidden;
          }  

          .generalLoader {
              position: fixed;
              top: 0px;
              left: 0px;
              right: 0px;
              bottom: 0px;
              z-index: 9999999;
              background-color: #000000;
          }


        // LOADER
        #loader {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 0;
          height: 0;
          margin: auto;
          border-radius: 100%;
          box-shadow: inset 0 0 0 30px #FFFFFF;
          animation: load 1s ease-out infinite;
        }

        @keyframes load {
          100% {
            width: 50px;
            height: 50px;
            box-shadow: none;
            -webkit-filter: blur(2px);
          }
        }

        /* ////////////////////////////////////////////////////////
        HEADER 
        /////////////////////////////////////////////////////// */

        // TOP WRAPP
        .topbar-wrapp {
          height: 40px;
          line-height: 40px;
          width: 100%;
          background-color: #000;
          color: #FFF;
          position: fixed;
          z-index: 99;

          ul.corporative, ul.user {
            li {
              display: inline-block;
            }
            li:before {
              content: "|";
              margin-right: 5px;
              font-size: 11px;
              color: #e2e2e2;
            }
            li:first-child:before {
              content: "";
              margin-right: 5px;  
              margin-left: -5px;         
            }
          }      

          a {
            color: #FFF;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
          }
          a:hover {
            color: #b2b2b2;
          }

          .data {
            margin: auto;
            font-family: 'Merriweather', serif;
            font-size: 11px;
            width: 175px;
          }

          .data:before {
            content:"";
            padding-left: 35px;
            border-left: 1px solid #e2e2e2;
          }

          .data:after {
            content:"";
            padding-right: 35px;
            border-right: 1px solid #e2e2e2;
          }

        }
     
        //////////////////////////////////
        // HEADER 
        /////////////////////////////////

        header.header {
        //transition: all .3s ease-in-out;
        background-size: cover !important;         
        background-color: #000;
         
         .header-wrapp {
          position: fixed;
          height: 85px;
          border-top: 1px solid #e2e2e2;
          border-bottom: 1px solid #e2e2e2;

          .suplement {
            position: absolute;
            top: -60px;
            width: 100%;
            text-align: center;
            font-family: @font-serif;
            font-style: italic;
            font-size: 26px;
            color: #FFF;
          }
      
            ul.tags  {
              position: absolute;
              bottom: -140px;
              left: 50%;
              margin-left: -190px;
              width: 380px;
              font-family: @font-serif;
              font-size: 15px;
              line-height: 20px;
              text-transform: uppercase;
              color: #FFF;
              text-align: center;
              list-style: none;

              li {
                display: inline-block;

                a {
                  color: #FFF;
                }
              }
              li:after {
                content: "/";
                margin-left: 5px;
                margin-right: 2px;
              }
              li:last-child:after {
                content: "";
                margin: 0;
              }
            }
         
        }

        .search {
          position:absolute;
          top: 30px;
          right: 0px;
          font-size: 24px;
          color: #FFF;
          cursor: pointer;         
        }      
        .hamburger {
          position: absolute;
          top: 33px;
          left: 0px;
          margin: 0;
          padding: 0;
        }        
        .hamburger-box {
          width: 25px;
          height: 20px;
        }
        .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
          width: 25px;
          height: 2px;
          background-color: #FFF;
        }
        .hamburger-inner:before {
          top: -7px;
        }      
        .hamburger-inner:after {
          bottom: -7px;
        }      
        .navbar-brand {
          width: 350px;
          height: auto;
          margin:auto;
          display: block;
          float: none;
          padding: 0;
          padding-top: 8px;
           // padding-top: 32px;

           img {
            max-width: 100%;
            height: auto;
          }
        }


      }

      .down-arrow {
        cursor: pointer;
        bottom: 45px;
        left: 50%;
        margin-left: -10px;
        position: fixed;
        width: 10px;
        height: 25px;
        font-size: 25px;
        color: #FFF;
      }


      /* Page background-image landscape for iPad 3 */
      @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: landscape)
        and (-webkit-min-device-pixel-ratio: 2) {
        header.header {
          -webkit-background-size: 1331px 768px !important;
          background-size: 1331px 768px !important;
        
        }
      }
      /* Page background-image portrait for iPad 3 */
      @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait)
        and (-webkit-min-device-pixel-ratio: 2) {
        header.header {
          -webkit-background-size: 1331px 768px !important;
          background-size: 1331px 768px !important;
         
        }
      }
      /* Page background-image landscape for iPad 1/2 */
      @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: landscape)
        and (-webkit-min-device-pixel-ratio: 1) {
        header.header {
         
          -webkit-background-size: 1331px 768px !important;
          background-size: 1331px 768px !important;
        }
      }

      /* Page background-image portrait for iPad 1/2 */
      @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait)
        and (-webkit-min-device-pixel-ratio: 1) {
        header.header {        
          
          -webkit-background-size: 1774px 1024px !important;
          background-size: 1174px 1024px !important;
        }
      }



        //////////////////////////////
        // HEADER SMALL
        //////////////////////////////
        #navigation {
          transition: all .5s ease-in-out;
          position: fixed;
          height: 60px;
          background: rgba(0, 0, 0, 0.93);
          top: 0px;
          left: 50%;
          z-index: 99;
          width: 0;          
          left: 50%;         
          visibility: hidden;

          .container {
            position: relative;
          }

          .search {
            position:absolute;
            right: 15px;
            top: 18px;
            font-size: 24px;
            color: #FFF;
            cursor: pointer;
            opacity: 0;
            transition: all .3s ease-in-out;
            transition-delay: 0.5s;
         }      
         .hamburger {
          position: absolute;
          top: 20px;
          left: 15px;
          margin: 0;
          padding: 0;
            // z-index: 99;
          }
          .hamburger-box {
            width: 25px;
            height: 20px;
            opacity: 0;
            transition: all .3s ease-in-out;
            transition-delay: 0.5s;
          }
          .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
            width: 25px;
            height: 2px;
            background-color: #FFF;
          }
          .hamburger-inner:before {
            top: -7px;
          }      
          .hamburger-inner:after {
            bottom: -7px;
          }      

          .navbar-brand {
            width: 150px;
            height: auto;
            margin: auto;
            display: block;
            float: none;
            padding: 0;
            padding-top: 17px;
            opacity: 0;
            transition: all .3s ease-in-out;
            transition-delay: 0.5s;

            img {
              max-width: 100%;
              height: auto;
            }
          }
        }

        #navigation.animate-width {
          visibility: visible;
          left: 0;
          width: 100%;   

          .hamburger-box {
            opacity: 1;            
          }    
          .search {
            opacity: 1;
          }
          .navbar-brand {
            opacity: 1;
          }

        }
        #navigation.out {
         top: -70px;
         opacity: 0;     
        }
        
        //////////////////////////////////////////////////////////////
        // HOME 
        /////////////////////////////////////////////////////////////

        figure {
          position: relative;
        }
        
        .sponsored {
          position: absolute;
          z-index: 9;
          right: 0px;
          top: 0;
          height: 70px;

          span {
            font-size: 10px;
            background: #FFF;
            padding: 3px;
            text-align: center;
            position: absolute;
            left: -52px;
            top: 23px;
            padding-left: 6px;
            padding-right: 6px;
            transform: rotate(-90deg);
          }

          img {
            max-width: 115px;
            height: auto;
          }
        }

        .sponsored-inside {
         /* border-top: 1px solid #ddd;
          padding-top: 25px; */

          img {
            max-width: 100%;
            height: auto;
            border-bottom: 1px solid #ddd;
            padding-top: 10px;
            padding-bottom: 10px;
          }
          span {
            /*font-size: 14px;
            text-align: center;
            border-top: 1px solid #ddd;
            width: 100%;
            display: block;
            padding-top: 10px;
            padding-bottom: 15px;
            margin-top: 20px;
            color: #999;*/
            font-size: 14px;
            text-align: center;
            border-top: 1px solid #ddd;
            width: 100%;
            /* border-bottom: 1px solid #ddd; */
            display: block;
            padding-top: 15px;
            padding-bottom: 0px;
            /* margin-top: 20px; */
            color: #999;
          }
        }

        ul.categories {
          text-align: left;
          color: #000;   
          padding-top: 20px;          

          li { 
            display: inline-block;
            margin-right: 5px;
            color: #000;

            a {
              color: #000 !important;
              font-size: 13px;
            }

            .fa {
              margin-right: 0px;
              font-size: 10px;
            }
          }
        }

        ul.tags {
          text-align: left;          
          color: #000;    
          margin-bottom: 35px;      
        /*  border-bottom: 1px solid #ddd;        
          padding-bottom: 35px;
          */
          
          li { 
            display: inline-block;
            margin-right: 5px;
            color: #000;

            a {
              color: #000 !important;
              font-size: 13px;
            }

            .fa {
              margin-right: 0px;
            }
          }

        }

        section#home, section#seccio {
          padding-top: 80px; // 60
          background: #FFF;

          .list-posts, .fitxa-post {
            h1 {
              font-family: @font-serif;
              font-weight: 700;
              font-style: italic;
              font-size: 53px;
              color: #d3d3d8;
              margin-bottom: 10px;

              a {
                color: #d3d3d8 !important;
              }
            }

            .post {
              //border-bottom: 1px solid #e2e2e2;
              display: block;
              overflow: hidden;
              position: relative;
              margin-bottom: 20px;
              padding-bottom: 65px;

              .author {
                margin-bottom: 20px;
                
                a {
                
                }
              }

              h1.seccio {
                text-align: center;
                margin-bottom: 50px;                
              }
              h1.seccio:after {
                content: "-";
                margin-left: 5px_;
              }
              h1.seccio:before {
                content: "-";
                margin-right: 5px;
              }

              a {
                color: #000;
              }

              figure {
                margin-bottom: 30px;

                img {
                  transition: all .3s ease-in-out;
                  opacity: 1;
                }
              }
              .titol {
                h1 {
                  font-style: normal;
                  color: #000;
                  font-weight: 400;
                  font-family: @font-sans;
                  font-size: 28px;
                }               
              }
              .category {
                position: absolute;
                bottom: 30px;
                left: 15px;
                font-size: 13px;
                color: #808080; // c4003e
              }
              .data-post {
                display: inline-block;
                margin-left: 5px;

                &:before {
                  content: "|";
                  margin-right: 5px;
                }
              }
              .like {
                position: absolute;
                right: 40px;
                bottom: 28px;
                font-size: 17px;

                span {
                  font-size: 12px;
                  background: #d3d3d8;
                  border-radius: 4px;
                  color: #333;
                  padding: 5px;
                  height: 18px;
                  line-height: 10px;
                  display: inline-block;
                  top: -2px;
                  position: relative;
                }

                a {
                  color: #808080; // 808080
                  transition: all .3s ease-in-out;
                }

                a:hover {
                  color: #c4003e;
                }
              }

              .like:after {
                content: "|";
                font-size: 15px;
                color: #ddd;
                // border-left: 1px solid #ddd;
                margin-left: 5px;
                margin-right: 5px;
              }

              .like.inside {
                left: 0;
                right: inherit;   
                bottom: 12px;

                h5 {
                  display: inline-block;
                  font-size: 13px;
                  color: #808080;
                  font-weight: 400;
                  margin-right: 8px;
                }             
              }
              .like.inside:after {
                content: "";
              }

              .compartir {
                position: absolute;
                right: 15px;
                bottom: 30px;
                font-size: 17px;

                a {
                  color: #808080; // 808080
                  transition: all .3s ease-in-out;
                }

                a:hover {
                  color: #c4003e;
                }
              }
              hr {
                border-color: #ddd;
                position: absolute;
                bottom: 0px;
                left: 15px;
                right: 15px;
                color: #ddd;
              }
             
            }

            .post a:hover img {
              opacity: 0.85;
            }
            .post a:hover .sponsored img {
              opacity: 1;
            }
          }
          .fitxa-post {
              .titol {
                h1 {
                  font-style: normal;
                  color: #000;
                  font-weight: 400;
                  font-family: @font-sans;
                  font-size: 38px !important;
                  margin-bottom: 20px !important;  
                } 
              }

              p {
                font-size: 16px;
                line-height: 24px;
                padding-right: 10%;
              }
              .post-bottom {
                  position: relative;
                  padding-top: 14px;
                  padding-bottom: 10px;
                  border-bottom: 1px solid #ddd;
                  border-top: 1px solid #ddd;
                  overflow: hidden;

                  ul.compartir {
                      list-style: none;
                      float: right;

                      li {
                          display: inline-block;
                          font-size: 13px;
                          color: #808080;
                          font-weight: 400;

                          a {
                              font-size: 15px;
                              color: #808080;
                              font-weight: 400;
                          }
                      }

                      li:first-child:after {
                          margin-left: 10px;
                          margin-right: 0px;
                          content: "";
                          border: none;
                      }
                      li:after {
                          content: "";
                          border-left: 1px solid #dddddd;
                          margin-left: 15px;
                          margin-right: 10px;
                      }
                      li:last-child:after {
                          margin-right: 0px;
                      }
                  }
              }

              /* COMENTARIS POST */
              .comentaris {
                margin-top: 40px;
                padding: 40px;
                background-color: #F2F2F2;
                border-radius: 10px;
              }
              #respond {

                label {
                  font-size: 13px;
                  display: inline-block;
                  max-width: 100%;
                  margin-bottom: 5px;
                  font-weight: bold;
                  width: 100%;                  
                }
                input {
                  border: 1px solid #ddd;
                  margin-bottom: 10px;
                  height: 40px;
                }
                textarea {
                  width: 100%;
                  border: 1px solid #ddd;
                  padding: 20px;
                }
                input[type="submit"] { 
                  border: none;
                  background: #000;
                  line-height: 41px;
                  color: #FFF;
                  padding-left: 20px;
                  padding-right: 20px;
                  font-size: 13px;
                  text-transform: uppercase;
                  border-radius: 4px;
                }
              }
              h3#comments {
                font-family: 'Istok Web',sans-serif;
                font-size: 24px; 
                font-weight: 700;
                margin-bottom: 10px;
                margin-top: 10px;
              }

              h3#reply-title {
                  font-family: 'Istok Web',sans-serif;
                  font-size: 24px;  
                  font-weight: 700;                          
              }
              p.logged-in-as, p.comment-form-comment{
                font-size: 14px;
                padding-right: 0%;
              }
              .comment-author {
                  margin-top: 20px;
                  font-weight: 700;

                  .fn {
                    color: #000;
                    font-style: normal;
                  }
                  .says {
                    color: #000;
                  }
              }
              .comment-meta {
                  a {
                    color: #666;              
                  }
                  a.comment-edit-link {
                    color: #666;
                    text-decoration: underline;
                  }
                } 
              .commentlist {
                li {
                  list-style: none;
                }
                p {
                  font-size: 14px;
                  line-height: 20px;  
                }                  
              }

              .reply a {
                font-size: 13px;
                background-color: #f2f2f2;
                border: 1px solid #000;
                color: #000;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 4px;
                padding-top: 5px;
                line-height: 15px;
                border-radius: 4px;
                margin-top: 5px;
                display: block;
                width: 70px;
                text-align: center;
              }
              .comment-body {
                margin-bottom: 40px;
                //border-bottom: 1px solid #f2f2f2;
              }
          }

        }

        ////////////////////////////////////////////
        // SECCIÓ
        ////////////////////////////////////////////
        header.seccio {
            height: 325px;

            .header-wrapp {
                position: relative;
                height: 85px;
                top: 135px !important;
            }            
        }
        section#seccio .post header.seccio {
          height: inherit;
        }
        .index-tags {

          h2 {
            margin-top: 60px;
            color: #FFF;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: 900;
            font-size: 16px;
          }          
        }


      /* /////////////////////////////////
      MASONRY POST ELEMENTS fluid 2 columns 
      ///////////////////////////////////*/
      .grid-sizer,
      .grid-item { width: 50%; }
      /* 2 columns wide */
      .grid-item--width2 { width: 100%; }



        /////////////////////////
        // SHARE OVERLAY
        ////////////////////////

        .overlay-share {
          background: rgba(0, 0, 0, 0.95);
          position: fixed;
          z-index: 999;
          top: 0;
          bottom: 0px;
          right: 0px;
          left: 0px;
          transform: translateY(100%);
          opacity: 0;
          transition: all .5s ease-in-out;

          .hamburger {
              padding: 0px;
              margin-top: 0px;
              margin-bottom: 30px;
            }
            .hamburger-box {
              width: 25px;
              height: 20px;       
            }        
            .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
              background-color: #FFF;
              width: 25px;
              height: 2px;
            }
            .hamburger--squeeze.is-active .hamburger-inner {
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              transition-delay: 0.14s;
              transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
            }
            .hamburger--squeeze.is-active .hamburger-inner::before {
              top: 0;
              opacity: 0;
              transition: top 0.1s ease, opacity 0.1s 0.14s ease; 
            }
            .hamburger--squeeze.is-active .hamburger-inner::after {
              bottom: 0;
              -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
              transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
              transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
              transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); 
            }
          
          .overlayInner {
              position: absolute;
              width: 350px;
              //height: 350px;
             // border: 1px solid #e2e2e2;
              padding: 30px;
              vertical-align: middle;
              text-align: center;

              ul {
                margin-top: 50px;
                width: 250px;              
                list-style: none;
                margin: auto;

                li {
                  border-bottom: 1px solid #e2e2e2;
                  color: #FFF;
                  text-transform: uppercase;
                  line-height: 55px;                  

                  a {
                    color: #FFF;
                    text-transform: uppercase;
                    display: block;
                    transition: all .3s ease-in-out;
                  }
                }
                li:first-child {
                  border-top: 1px solid #e2e2e2;
                  color: #edb2c5;
                  font-size: 14px;
                  text-transform: inherit;
                }
                li a:hover {
                  color: #c4003e;
                  background-color: #FFF;
                }
              }
          }
           
         
        }

        .overlay-share.in {
          transform: translateY(0%);
          opacity: 1;
        }


        /* ///////////////////////////////////////////////////////////
        FOOTER
        ////////////////////////////////////////////////////////////*/

        footer {

          h1 {
            font-family: @font-sans;
            font-size: 14px;
            font-weight: @bold;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: #FFF;
          }

          section.sitemap {
            background-color: #e9e9ea;
            padding-top: 50px;
            padding-bottom: 70px;

            ul.footer-list {
              list-style: none;

              li {
                font-family: @font-serif;
                font-size: 12px;
                line-height: 22px;
              }

              li:first-child {
                font-family: @font-sans;
                font-size: 14px;
                font-weight: @bold;
                margin-bottom: 15px;
                text-transform: uppercase;
              }
            }
          }
          section.ads {
            background-color: #595959;
            padding-top: 50px;
            padding-bottom: 70px;

            .newsletter-cont {
              margin-bottom: 50px;

              input {
                font-size: 12px;
                font-style: italic;
                color: #000;
                width: 270px;
                background-color: #e2e2e2;
                border: none;
                height: 40px;
                padding-left: 10px;
                margin-right: -5px;
              }
              .btn-newsletter {
                font-family: @font-sans;
                font-size: 12px;
                font-weight: @bold;
                width: 120px;
                background-color: @color;
                height: 40px;
                color: #FFF;
                text-align: center;
                border: none;
              }
            }
            .social-cont {
              ul.footer-socials {
                list-style: none;

                li {
                  display: inline-block;
                  margin-right: 0px;

                  a  {
                    color: #FFF;
                    font-size: 28px;

                    i:before {
                      margin: 0px;
                    }
                  }
                }
              }
            }

          }

          section.group {
            background-color: #b2b2b2;
            padding-top: 50px;
            padding-bottom: 70px;

            h1 {
              color: #000;
            }

            .gencat {
              width: 150px;
            }

            ul.logos-corp  {
              list-style: none;

              li {
                display: inline-block;
                margin-right: 30px;

                img {
                  max-width: 100%;
                  height: auto;
                }
              }
            }
            ul.legal {
              list-style: none;
              
              li {
                a {
                  color: #000;
                  font-size: 12px;
                  line-height: 22px;
                }
              }

            }
          }
          .socket {
            font-family: @font-sans;
            background-color: @color;
            height: 80px;
            color: #FFF;
            font-size: 13px;
            line-height: 80px;
          }
        }  

        .fit-vertical {
          display: table-cell;
          height: 100%;
          vertical-align: top;
        }

        .whatsapp {
          display: none;
        }
        .whatsapp-single {
          display: none !important;
        }


        /*-------------- Desktop landscape ---------------*/

        @media (min-width: 1200px) {

        }


        /*-------------- Desktop potrait ----------------*/

        @media (min-width: 980px) and (max-width: 1199px) {

          header.header nav ul li:before {
            padding-left: 30px;
          }
          header.header nav ul li:after {
            padding-right: 30px;
          }

        }


        /*--------------- Tablet ipad --------------------*/

        @media (min-width: 768px) and (max-width: 991px) {
         header.header nav ul li:before {
          padding-left: 15px;
        }
        header.header nav ul li:after {
          padding-right: 15px;
        }
      }


      /*--------------- Tablet ipad --------------------*/

      @media (min-width: 768px) and (max-width: 979px) {

        header.header nav ul li:before {
          padding-left: 15px;
        }
        header.header nav ul li:after {
          padding-right: 15px;
        }

      }


      /*--------------- PHONE --------------------------*/
      @media(max-width:767px) {

        .whatsapp {
          display: block;
        }
        .whatsapp-single {
          display: inline-block !important;
        }
        header.header nav {
          display: none;
        }
        body.home .header-wrapp {
          position: relative;
          height: 80px !important;   
          margin-left: 0px;
          margin-right: 40px;         
        }
        body.seccio header.header {
          //height: 80px !important;
          border-bottom: 1px solid #e2e2e2;
        }
        .topbar-wrapp .data:before {
          content: "";
          padding-left: 0px;
          border-left: 0px solid #e2e2e2;
        }
        .topbar-wrapp .data:after {
            content: "";
            padding-right: 0px;
            border-right: 0px solid #e2e2e2;
        }
        body.home header.header .navbar-brand {
          padding-top: 28px !important;
        }
        body.home header.header .navbar-brand {
          width: 150px !important;
        }
        body.home header.header .hamburger {
          top: 31px !important;
        }
        body.home header.header .search {
          top: 27px !important;
        }
        header.header .header-wrapp .suplement {
            text-align: center;
            font-family: 'Noticia Text',serif;
            font-style: italic;
            font-size: 18px;
            color: #fff;
            margin-left: -15px;
            top: -50px;
        }
        .grid-sizer, .grid-item {
            width: 100%;
        }
        section#home .list-posts .post .category {
            bottom: -48px !important;
        }
        section#home .list-posts .post.featured .category {
            bottom: -45px;
        }
        header.header .navbar-brand {
          width: 150px;
          padding-top: 28px;
        }
        header.seccio .header-wrapp {
          position: relative;
          height: 85px;
          top: 135px !important;
          left: 20px !important;
          margin-right: 40px;
        }
        section#seccio .fitxa-post .post .category {
          text-align: center;
          width: 100%;
          margin-bottom: 10px;
        }
        section#seccio .fitxa-post .post-bottom ul.compartir {
          margin: auto;
          width: 100%;
          text-align: center;
        }
        section#home .list-posts h1, section#seccio .list-posts h1, section#home .fitxa-post h1, section#seccio .fitxa-post h1 {
          font-size: 33px;
          margin-bottom: 10px !important;
        }
        section#home, section#seccio {
          padding-top: 40px;
          background: #fff;
        }
        section#home .fitxa-post .titol h1, section#seccio .fitxa-post .titol h1 {
          font-size: 28px !important;
        }
        section#seccio .fitxa-post .post-bottom ul.compartir-2 li:first-child, section#seccio .fitxa-post .post-bottom ul.compartir-2 li:last-child {
          display: none;
        }

        .sponsored-inside {
          border-bottom: 1px solid #ddd;
        }
        
        .sponsored-inside span {
          border: none;
        }
        .sponsored-inside img {
            max-width: 100%;
            height: auto;
            border:none;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: auto;
            display: block;
        }

      }
