/*
Theme Name: 9Magazin
Version: 1.0
*/
.fitxa-post figure img {
	display: block;
	margin: auto;
}
.sponsored span {
	transform: none;
	position: relative;
	top: 3px;
	display: block;
	left: 0;
}
#home .sponsored img, .seccio .sponsored img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

section#seccio .fitxa-post .post .category {
	position: relative;
	bottom: 0;
	left: 0;
	float: left;
}
section#seccio .fitxa-post .post .compartir {
	float: right;
	right: 0;
	bottom: 0;
	position: relative;
}
section#home .list-posts .post .category {
	bottom: -38px;
	text-transform: uppercase;
}
section#home .list-posts .post.featured .category {
	bottom: -58px;
	text-transform: uppercase;	
}
.fa {
	font-size: 13px;
    margin-right: 5px;
}

ul.tags span {
	font-size: 12px;
	margin-right: 0px;
}

section#seccio .list-posts .post .category {
	bottom: -38px;
	text-transform: uppercase;
}

.wp-pagenavi {
	background: #fff;
	padding: 20px;
	text-align: center;
	transform: translateY(35px);
	transition: all 0.5s ease;
	z-index: 999999;
	overflow-x: auto;
}

.fixed-footer {
	position: fixed;
	bottom: -70px;
	opacity: 1;
    transform: translateY(-70px);
    left: 0;
    width: 100%;
}
.wp-pagenavi .page, .wp-pagenavi .current, .extend {
    color: #444444;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
    padding: 0px 10px;
}
.wp-pagenavi .current, .wp-pagenavi .page:hover {
	background-color: #eee;
	padding: 5px 10px;
}
.pages {
	display: none;
}
.first, .last {
	display: none;
}

.nextpostslink, .previouspostslink{
	color: #000;
}

#pagination-place {
	height: 120px;
}
section#home .fitxa-post .post-bottom ul.compartir-2 li, section#seccio .fitxa-post .post-bottom ul.compartir-2 li {
    display: inline-block;
    font-size: 13px;
    color: #808080;
    font-weight: 400;
}
section#home .fitxa-post .post-bottom ul.compartir-2 li a, section#seccio .fitxa-post .post-bottom ul.compartir-2 li a {
    font-size: 15px;
    color: #808080;
    font-weight: 400;
}
section#home .fitxa-post .post-bottom ul.compartir-2 li:after, section#seccio .fitxa-post .post-bottom ul.compartir-2 li:after {
    content: "";
    border-left: 1px solid #ddd;
    margin-left: 15px;
    margin-right: 10px;
}
.relacionats h2 {
	font-size: 18px;
    margin-top: 10px;
    display: block;
    padding-top: 10px;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
    background: transparent;
    font-weight: 700;
    font-family: 'Noticia Text',serif;
    font-style: italic;
    color: #d3d3d8;
}
.relacionats h4 {
	font-size: 16px;
    font-weight: 700;
}

.search-field {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #fff;
	align-items: center;
	justify-content: center;
}

.search-field small {
	margin-top: 10px;
    font-size: 15px;
}
.search-field input {
	    height: 80px;
    width: 411px;
    background: none;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 24px;
}