
/* //////////////////////////////////////////////////////////
    CSS NOTICIA
////////////////////////////////////////////////////////// */
    
    main.fitxa {
      margin-top: 40px;

      article {
        margin-bottom: 0px;

        header {         

          h1 {
            font-family: @font-sans;
            font-weight: @extrabold;
            font-size: 36px;
            line-height: 38px;
            color: #000;
            margin-bottom: 10px;
          }
          h2 {
            font-family: @font-sans;
            font-weight: @light;
            font-size: 16px;
            line-height: 24px;
            color: @color;
            margin-bottom: 10px;
          }
          p {
            font-family: @font-serif;
            font-weight: @light;
            font-size: 18px;
            line-height: 26px;
          }

        }

        .content {

          ul.information-article {
            margin-top: 30px;
            margin-bottom: 15px;

            li {
              display: inline-block;
              color: @color-grey-w;
              font-size: 13px;
              font-family: @font-sans;
              font-weight: @light;
              margin-right: 10px;

              i {
                color: #333333;
              }
              span {
                color: #333333;
              }

            }
          }

          figure {
            position: relative;

            i.icon-play {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              font-size: 90px;
              color: #FFF;
              margin-top: -12px;
            }
            
            figcaption {
              font-family: @font-sans;
              font-size: 13px;
              font-style: italic;
              text-align: left;
              padding-top: 10px;
              padding-bottom: 10px;
              line-height: 20px;              
              color: #333333;
              border-bottom: 1px solid @color-line;

              span {
                color: @color-grey-w;
              }
            }
          }

          section.article-body {
            margin-top: 40px;

            p {
              font-size: 14px;
              line-height: 24px;

              strong {
                font-weight: @bold;
              }
            }

            .tags {
              margin-top: 40px;
              margin-bottom: 40px;

              span {
                display: inline-block;
                background-color: #e9e9ea;
                padding: 10px;
                padding-right: 15px;
                padding-left: 15px;
                font-size: 12px;
                margin-right: 5px;
                margin-bottom: 10px;
                border-radius: 5px;
                transition:all 0.2s ease;
              }

              a {
                color: #000;
                transition:all 0.2s ease;
              }

              a:hover span {
                color: #FFF;
                background-color: @color;
              }
            }

             .aside-article-body {
                figure {
                  figcaption {
                    border: none;
                  }
                }
             }

            .download-element {
              margin-top: 30px;
              border-top: 1px solid @color-line;
              padding-top: 20px;

              i {
                color: @color;
                font-size: 30px;
                line-height: 45px;
                text-align: center;
                height: 50px;
                width: 50px;
                border: 1px solid @color;
                border-radius: 50%;
                float: left;
                margin-right: 10px;
              }
              p {
                font-family: @font-sans;
                font-size: 12px;
                line-height: 18px;
                font-weight: @regular;
                float: left;
                width: 75%;

                strong {
                  font-weight: @bold;
                }
              }
            }
          }
          
          section.related-articles {
            border-top: 1px solid #e2e2e2;
            padding-top: 40px;
            padding-bottom: 40px;

            a {
              color: #000;
              transition:all 0.2s ease;
            }

            a:hover {
              color: @color;
            }

            header {
              h1 {
                font-family: @font-sans;
                font-size: 30px;
                line-height: 32px;
                color: #000;
                font-weight: @extrabold;
              }
            }

            .articles-petits {
                overflow: hidden;
                margin-bottom: 60px;

                h3 {
                  border-bottom: 2px solid @color;
                  font-family: @font-sans;
                  font-weight: @bold;
                  font-size: 14px;
                  text-transform: uppercase;
                  color: @color;
                  line-height: 35px;
                }
                figure {
                    background: #f7f7f7;
                    min-height: 90px;
                    border-right: 2px solid #FFF;
                }
              }
               
            .item {
              background-color: #f7f7f7;
              margin-bottom: 20px;
              min-height: 320px;             

              h1 {
                font-family: @font-serif;
                font-weight: @bold;
                font-size: 16px;
                line-height: 22px;
                padding-top: 20px;
                padding-left: 10px;
                padding-right: 10px;
              }
            }

            .item-related {
              min-height: 20px;
              background-color: #f7f7f7;
              border-bottom: 1px solid #FFF;

              span.data {
                font-family: @font-sans;
                font-size: 14px;
                line-height: 18px;
                padding-top: 15px;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 5px;
                display: block;
              }

              h1 {
                font-family: @font-serif;
                font-weight: @bold;
                font-size: 16px;
                line-height: 22px;               
                padding-left: 10px;
                padding-right: 10px;
              }
            }

            .item.border {
               border-left: 1px solid #FFF;
            }           

          }

          section.comments {
            border-top: 1px solid #e2e2e2;
            padding-top: 40px;
            padding-bottom: 60px;

            .formulari {
              margin-bottom: 30px;
            }

            header {
              h1 {
                font-family: @font-sans;
                font-size: 30px;
                line-height: 32px;
                color: #000;
                font-weight: @extrabold;
              }
            }

            .comment-form {
              margin-bottom: 40px;

              .logged-in-as {
                margin-top: 15px;
                text-align: left;
                margin-bottom: 30px;
              }

              .form-box {
                background-color: #FFF; //f7f7f7
                padding: 0px; //25px;
              }             

              input {
                font-family: @font-serif;
                font-weight: @light;
                font-size: 13px;
                font-style: italic;
                width: 100%;
                height: 40px;
                background-color: transparent;
                border: none; 
                border: 1px solid #e2e2e2;  //bottom
                padding: 10px; //top
                margin-bottom: 10px;
              }
              textarea {
                font-family: @font-serif;
                font-weight: @light;
                font-size: 13px;
                font-style: italic;
                width: 100%;
                height: 100px;
                background-color: transparent;
                border: none; 
                border: 1px solid #e2e2e2; //bottom
                padding: 10px; // top
              }
              .send {
                font-family: @font-sans;
                text-transform: uppercase;
                width: 33%;
                background-color: #000;
                color: #FFF;
                text-transform: uppercase;
                text-align: center;
                margin-top: 20px;
                float: right;
              }
            }

            
            h3#comments {
              margin-top: 65px;
              font-size: 16px;
              text-align: center;
              border-top: 1px solid #e2e2e2;
              padding-top: 30px;
            }

            .comment {
              font-family: @font-sans;
              font-weight: @regular;
             /* border-top: 1px solid #e2e2e2;*/
              padding-top: 0px;
              padding-bottom: 20px;

              hr {
                margin-top: 30px;
                margin-bottom: 30px;
              }

              .icon-nickname {
                font-size: 80px;
                color: #333;
                position: absolute;
                left: 10px;
              }
              .icon-nickname:before {
                margin: 0;
              }
              .nickname {
                font-family: @font-sans;
                font-weight: @regular;
                font-size: 15px;
                line-height: 20px;
                margin-top: 20px;
                margin-left: 85px;

                span {
                  font-weight: @bold;
                }
              }

              p {
                font-family: @font-sans;
                font-size: 15px;
                line-height: 20px;
                padding-top: 20px;
                font-weight: 400;
              }

              ul.actions {
                list-style: none;
                margin-top: 20px;

                li {
                  display: inline-block;

                  a {
                    color: @color-grey-w;
                  }
                }
                li:after {
                  content: "|";
                  margin-right: 5px;
                  margin-left: 5px;
                }
                li:last-child:after {
                  content: "";
                  margin: 0;
                }
              }

            }
          }
        }
      }
    }    

    