
.icon-volume-off:before { content: '\e800'; } /* '' */
.icon-volume-down:before { content: '\e801'; } /* '' */
.icon-volume-up:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
.icon-angle-right:before { content: '\e809'; } /* '' */
.icon-angle-left:before { content: '\e80a'; } /* '' */
.icon-audio:before { content: '\e851'; } /* '' */
.icon-waves:before { content: '\e852'; } /* '' */
.icon-rss:before { content: '\e853'; } /* '' */
.icon-close-menu:before { content: '\e855'; } /* '' */
.icon-download:before { content: '\e857'; } /* '' */