@font-face {
  font-family: '9nou';
  src: url('src/libs/fontello/9nou.eot?88766329');
  src: url('src/libs/fontello/9nou.eot?88766329#iefix') format('embedded-opentype'),
       url('src/libs/fontello/9nou.woff2?88766329') format('woff2'),
       url('src/libs/fontello/9nou.woff?88766329') format('woff'),
       url('src/libs/fontello/9nou.ttf?88766329') format('truetype'),
       url('src/libs/fontello/9nou.svg?88766329#9nou') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: '9nou';
    src: url('../font/9nou.svg?88766329#9nou') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "9nou";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-lupa:before { content: '\e800'; } /* '' */
.icon-share:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-book:before { content: '\e805'; } /* '' */
.icon-comment:before { content: '\e806'; } /* '' */
.icon-play:before { content: '\e807'; } /* '' */
.icon-person:before { content: '\e808'; } /* '' */
.icon-document-download:before { content: '\e809'; } /* '' */
.icon-nickname:before { content: '\e80a'; } /* '' */
.icon-facebook-circled:before { content: '\e80b'; } /* '' */
.icon-twitter-circled:before { content: '\e80c'; } /* '' */
.icon-instagram-circled:before { content: '\e80d'; } /* '' */