
.icon-lupa:before { content: '\e800'; } /* '' */
.icon-share:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-book:before { content: '\e805'; } /* '' */
.icon-comment:before { content: '\e806'; } /* '' */
.icon-play:before { content: '\e807'; } /* '' */
.icon-person:before { content: '\e808'; } /* '' */
.icon-document-download:before { content: '\e809'; } /* '' */
.icon-nickname:before { content: '\e80a'; } /* '' */
.icon-facebook-circled:before { content: '\e80b'; } /* '' */
.icon-twitter-circled:before { content: '\e80c'; } /* '' */
.icon-instagram-circled:before { content: '\e80d'; } /* '' */