@font-face {
  font-family: '9fm';
  src: url('src/libs/fontello/9fm.eot?12124007');
  src: url('src/libs/fontello/9fm.eot?12124007#iefix') format('embedded-opentype'),
       url('src/libs/fontello/9fm.woff2?12124007') format('woff2'),
       url('src/libs/fontello/9fm.woff?12124007') format('woff'),
       url('src/libs/fontello/9fm.ttf?12124007') format('truetype'),
       url('src/libs/fontello/9fm.svg?12124007#9fm') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: '9fm';
    src: url('../font/9fm.svg?12124007#9fm') format('svg');
  }
}
*/
 
 [class^="icon9fm-"]:before, [class*=" icon9fm-"]:before {
  font-family: "9fm";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icon9fms size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon9fm-audio:before { content: '\e851'; } /* '' */
.icon9fm-waves:before { content: '\e852'; } /* '' */
.icon9fm-rss:before { content: '\e853'; } /* '' */
.icon9fm-close-menu:before { content: '\e855'; } /* '' */
.icon9fm-download:before { content: '\e857'; } /* '' */