
/* ==========================================================================
   Typography Variables & Colors Variables
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
   
@import url(https://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic);

@font-serif: 'Noticia Text', serif;
@font-sans: 'Istok Web', sans-serif; 

@regular: 400;
@bold: 700;

@color: #c4003e;

/* ==========================================================================
   Import Less + Css librarys
   ========================================================================== */
@import (less) "components/reset.css";
@import (less) "libs/hamburgers.min.css";
@import (less) "libs/animate.css";
@import (less) "libs/fontello/9nou.css";
@import (less) "libs/fontello/9nou.css";
@import 'libs/bootstrap/bootstrap.less';
@import (less) "libs/bootstrap-select/bootstrap-select.css";
@import 'components/layout.less';
//@import 'home/index.less';
//@import 'fitxa/index.less';





