        /* ==========================================================================
           Layout LESS-CSS
           ========================================================================== */

           /* CSS Transitions */
           * {
            //transition:all 100ms ease;
          }

          input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #333 !important;
          }
          input:-moz-placeholder, textarea:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #333 !important;
          }
          input::-moz-placeholder, textarea::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #333 !important;
          }
          input:-ms-input-placeholder, textarea:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #333 !important;
          }

          ///////

          /* Highregular Styles */
          ::selection { background-color:#FFF; color:@color; }
          ::-moz-selection { background-color:#FFF; color:@color; }

          ::-webkit-input-placeholder { /* WebKit browsers */
            color: #000;
          }
          :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #000;
          }
          ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #000;
          }
          :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #000;
          }
          body {
            color: #000;
            background-color: #000;
            overflow-x: hidden;
          }
          html, body{  
            height: 100%;
            min-height: 100%;
            font-family: @font-sans;
            font-size: 14px;
            line-height: 20px;
          }
          a {
            transition:all 0.2s ease;
          }     
          a:active, a:focus, a:hover {
            text-decoration: none !important;
            outline: none;
            color: @color;
          }      
          h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
          }
          ul, ol {
            margin: 0;
            padding: 0;
          }
          .clear {
            clear: both;
            display: block;
            overflow: hidden;
            visibility: hidden;
            width: 0;
            height: 0;
          }
          img {
            max-width: 100%;
            height: auto;
          }
          /* centered columns styles */
          .row-centered {
            text-align:center;
          }
          .col-centered {
            display:inline-block;
            float:none;
            /* reset the text-align */
            text-align:left;
            /* inline-block space fix */
            margin-right:-4px;
          }

          textarea:hover, 
          input:hover, 
          textarea:active, 
          input:active, 
          textarea:focus, 
          input:focus,
          button:focus,
          button:active,
          button:hover {
            outline:0px !important;
            -webkit-appearance:none;
          }   
          body.in {
            overflow: hidden;
          }  

        /* ////////////////////////////////////////////////////////
        HEADER 
        /////////////////////////////////////////////////////// */

        // TOP WRAPP
        .topbar-wrapp {
          height: 30px;
          line-height: 30px;
          width: 100%;
          background-color: #000;
          color: #FFF;
          position: fixed;
          z-index: 99;

          ul.corporative, ul.user {
            li {
              display: inline-block;
            }
            li:before {
              content: "|";
              margin-right: 5px;
              font-size: 11px;
              color: #e2e2e2;
            }
            li:first-child:before {
              content: "";
              margin-right: 5px;  
              margin-left: -5px;         
            }
          }      

          a {
            color: #FFF;
            font-size: 11px;
            font-family: 'Open Sans', sans-serif;
          }

          .data {
            margin: auto;
            font-family: 'Merriweather', serif;
            font-size: 11px;
            width: 175px;
          }

          .data:before {
            content:"";
            padding-left: 35px;
            border-left: 1px solid #e2e2e2;
          }

          .data:after {
            content:"";
            padding-right: 35px;
            border-right: 1px solid #e2e2e2;
          }

        }

        /////////////////////////
        // HEADER OVERLAY
        ////////////////////////

        .overlay {
          background: rgba(0, 0, 0, 1);
          position: fixed;
          z-index: 999;
          top: 0;
          bottom: 0px;
          right: 0px;
          left: 0px;
          transform: translateY(-100%);
          opacity: 0;
          pointer-events: none;
          transition: all .5s ease-in-out;

          .hamburger {
            padding: 0px;
            margin-top: 75px;
            margin-bottom: 30px;
          }
          .hamburger-box {
            width: 25px;
            height: 20px;       
          }        
          .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
            background-color: #FFF;
            width: 25px;
            height: 2px;
          }
          .hamburger--squeeze.is-active .hamburger-inner {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            transition-delay: 0.14s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
          }
          .hamburger--squeeze.is-active .hamburger-inner::before {
            top: 0;
            opacity: 0;
            transition: top 0.1s ease, opacity 0.1s 0.14s ease; 
          }
          .hamburger--squeeze.is-active .hamburger-inner::after {
            bottom: 0;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
            transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); 
          }
          .navbar-brand {
            width: 290px;          
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 50px;
          }
          .search {
            position: absolute;
            right: 10px;
            top: 75px;
            font-size: 24px;
            color: #FFF;
            cursor: pointer;
          }
          hr {
            margin-bottom: 30px;
          }
          ul.menu {
            font-family: @font-sans;
            color: #FFF;
            list-style: none;          

            li {
              font-size: 13px;

              a {
                font-size: 14px;
                line-height: 24px;
                color: #FFF;
                text-decoration: none;
              }
            }
            li:first-child {
              font-weight: @bold;
              margin-bottom: 10px;
            }
          }
        }
        .overlay.in {
          background: rgba(51, 51, 51, 1);
          opacity: 1;
          transform: translateY(0%);
          pointer-events: auto;
          overflow-y: scroll;
        }    

        //////////////////////////////////
        // HEADER 
        /////////////////////////////////

        header.header {
        //transition: all .3s ease-in-out;
        background-size: cover;        
        background-color: #000;
         
         .header-wrapp {
          position: fixed;
          height: 85px;
          border-top: 1px solid #e2e2e2;
          border-bottom: 1px solid #e2e2e2;

          .suplement {
            position: absolute;
            top: -60px;
            width: 100%;
            text-align: center;
            font-family: @font-serif;
            font-style: italic;
            font-size: 26px;
            color: #FFF;
          }
      
            ul.tags  {
              position: absolute;
              bottom: -140px;
              left: 50%;
              margin-left: -190px;
              width: 380px;
              font-family: @font-serif;
              font-size: 15px;
              line-height: 20px;
              text-transform: uppercase;
              color: #FFF;
              text-align: center;
              list-style: none;

              li {
                display: inline-block;

                a {
                  color: #FFF;
                }
              }
              li:after {
                content: "/";
                margin-left: 5px;
                margin-right: 2px;
              }
              li:last-child:after {
                content: "";
                margin: 0;
              }
            }
         
        }

        .search {
          position:absolute;
          top: 30px;
          right: 0px;
          font-size: 24px;
          color: #FFF;
          cursor: pointer;         
        }      
        .hamburger {
          position: absolute;
          top: 33px;
          left: 0px;
          margin: 0;
          padding: 0;
        }        
        .hamburger-box {
          width: 25px;
          height: 20px;
        }
        .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
          width: 25px;
          height: 2px;
          background-color: #FFF;
        }
        .hamburger-inner:before {
          top: -7px;
        }      
        .hamburger-inner:after {
          bottom: -7px;
        }      
        .navbar-brand {
          width: 350px;
          height: auto;
          margin:auto;
          display: block;
          float: none;
          padding: 0;
          padding-top: 8px;
           // padding-top: 32px;

           img {
            max-width: 100%;
            height: auto;
          }
        }


      }

        //////////////////////////////
        // HEADER SMALL
        //////////////////////////////
        #navigation {
          transition: all .5s ease-in-out;
          position: fixed;
          height: 60px;
          background: rgba(0, 0, 0, 0.93);
          top: 0px;
          left: 50%;
          z-index: 99;
          width: 0;          
          left: 50%;         
          visibility: hidden;

          .container {
            position: relative;
          }

          .search {
            position:absolute;
            right: 15px;
            top: 18px;
            font-size: 24px;
            color: #FFF;
            cursor: pointer;
            opacity: 0;
            transition: all .3s ease-in-out;
            transition-delay: 0.5s;
         }      
         .hamburger {
          position: absolute;
          top: 20px;
          left: 15px;
          margin: 0;
          padding: 0;
            // z-index: 99;
          }
          .hamburger-box {
            width: 25px;
            height: 20px;
            opacity: 0;
            transition: all .3s ease-in-out;
            transition-delay: 0.5s;
          }
          .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
            width: 25px;
            height: 2px;
            background-color: #FFF;
          }
          .hamburger-inner:before {
            top: -7px;
          }      
          .hamburger-inner:after {
            bottom: -7px;
          }      

          .navbar-brand {
            width: 150px;
            height: auto;
            margin: auto;
            display: block;
            float: none;
            padding: 0;
            padding-top: 17px;
            opacity: 0;
            transition: all .3s ease-in-out;
            transition-delay: 0.5s;

            img {
              max-width: 100%;
              height: auto;
            }
          }
        }

        #navigation.animate-width {
          visibility: visible;
          left: 0;
          width: 100%;   

          .hamburger-box {
            opacity: 1;            
          }    
          .search {
            opacity: 1;
          }
          .navbar-brand {
            opacity: 1;
          }

        }
        #navigation.out {
         top: -70px;
         opacity: 0;     
        }
        
        //////////////////////////////////////////////////////////////
        // HOME 
        /////////////////////////////////////////////////////////////

        figure {
          position: relative;
        }
        
        .sponsored {
          position: absolute;
          z-index: 9;
          right: 0px;
          top: 0;
          height: 70px;

          span {
            font-size: 10px;
            background: #FFF;
            padding: 3px;
            text-align: center;
            position: absolute;
            left: -52px;
            top: 23px;
            padding-left: 6px;
            padding-right: 6px;
            transform: rotate(-90deg);
          }

          img {
            max-width: 115px;
            height: auto;
          }
        }

        .sponsored-inside {
          img {
            max-width: 100%;
            height: auto;
          }
          span {
            font-size: 16px;
            text-align: left;
            border-top: 1px solid #000;
            width: 100%;
            display: block;
            padding-top: 10px;
            margin-top: 10px;
          }
        }

        section#home, section#seccio {
          padding-top: 60px;
          background: #FFF;

          .list-posts, .fitxa-post {
            h1 {
              font-family: @font-serif;
              font-weight: 700;
              font-style: italic;
              font-size: 53px;
              color: #d3d3d8;
              margin-bottom: 10px;
            }

            .post {
              //border-bottom: 1px solid #e2e2e2;
              display: block;
              overflow: hidden;
              position: relative;
              margin-bottom: 20px;
              padding-bottom: 65px;

              h1.seccio {
                text-align: center;
                margin-bottom: 50px;                
              }
              h1.seccio:after {
                content: "-";
                margin-left: 5px_;
              }
              h1.seccio:before {
                content: "-";
                margin-right: 5px;
              }

              figure {
                margin-bottom: 30px;

                img {
                  transition: all .3s ease-in-out;
                  opacity: 1;
                }
              }
              .titol {
                h1 {
                  font-style: normal;
                  color: #000;
                  font-weight: 400;
                  font-family: @font-sans;
                  font-size: 28px;
                }               
              }
              .category {
                position: absolute;
                bottom: 30px;
                left: 15px;
                font-size: 13px;
                color: #c4003e;
              }
              .compartir {
                position: absolute;
                right: 15px;
                bottom: 30px;
                font-size: 17px;

                a {
                  color: #000;
                }
              }
              hr {
                position: absolute;
                bottom: 0px;
                left: 15px;
                right: 15px;
                color: #e2e2e2;
              }
             
            }

            .post a:hover img {
              opacity: 0.85;
            }
          }
          .fitxa-post {
              .titol {
                h1 {
                  font-style: normal;
                  color: #000;
                  font-weight: 400;
                  font-family: @font-sans;
                  font-size: 38px !important;
                  margin-bottom: 20px !important;  
                } 
              }

              p {
                font-size: 16px;
                line-height: 24px;
              }

          }

        }

        ////////////////////////////////////////////
        // SECCIÓ
        ////////////////////////////////////////////
        header.seccio {
            height: 325px;

            .header-wrapp {
                position: relative;
                height: 85px;
                top: 135px !important;
                left: inherit !important;
            }            
        }
        section#seccio .post header.seccio {
          height: inherit;
        }
        .index-tags {

          h2 {
            margin-top: 60px;
            color: #FFF;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: 900;
            font-size: 16px;
          }          
        }


      /* /////////////////////////////////
      MASONRY POST ELEMENTS fluid 2 columns 
      ///////////////////////////////////*/
      .grid-sizer,
      .grid-item { width: 50%; }
      /* 2 columns wide */
      .grid-item--width2 { width: 100%; }



        /////////////////////////
        // SHARE OVERLAY
        ////////////////////////

        .overlay-share {
          background: rgba(196, 0, 62, 0.95);
          position: fixed;
          z-index: 999;
          top: 0;
          bottom: 0px;
          right: 0px;
          left: 0px;
          transform: translateY(100%);
          opacity: 0;
          transition: all .5s ease-in-out;

          .hamburger {
              padding: 0px;
              margin-top: 0px;
              margin-bottom: 30px;
            }
            .hamburger-box {
              width: 25px;
              height: 20px;       
            }        
            .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
              background-color: #FFF;
              width: 25px;
              height: 2px;
            }
            .hamburger--squeeze.is-active .hamburger-inner {
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              transition-delay: 0.14s;
              transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
            }
            .hamburger--squeeze.is-active .hamburger-inner::before {
              top: 0;
              opacity: 0;
              transition: top 0.1s ease, opacity 0.1s 0.14s ease; 
            }
            .hamburger--squeeze.is-active .hamburger-inner::after {
              bottom: 0;
              -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
              transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
              transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
              transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); 
            }
          
          .overlayInner {
              position: absolute;
              width: 350px;
              //height: 350px;
             // border: 1px solid #e2e2e2;
              padding: 30px;
              vertical-align: middle;
              text-align: center;

              ul {
                margin-top: 50px;
                width: 250px;              
                list-style: none;
                margin: auto;

                li {
                  border-bottom: 1px solid #e2e2e2;
                  color: #FFF;
                  text-transform: uppercase;
                  line-height: 55px;                  

                  a {
                    color: #FFF;
                    text-transform: uppercase;
                    display: block;
                    transition: all .3s ease-in-out;
                  }
                }
                li:first-child {
                  border-top: 1px solid #e2e2e2;
                  color: #edb2c5;
                  font-size: 14px;
                  text-transform: inherit;
                }
                li a:hover {
                  color: #c4003e;
                  background-color: #FFF;
                }
              }
          }
           
         
        }

        .overlay-share.in {
          transform: translateY(0%);
          opacity: 1;
        }


        /* ///////////////////////////////////////////////////////////
        FOOTER
        ////////////////////////////////////////////////////////////*/

        footer {

          h1 {
            font-family: @font-sans;
            font-size: 14px;
            font-weight: @bold;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: #FFF;
          }

          section.sitemap {
            background-color: #e9e9ea;
            padding-top: 50px;
            padding-bottom: 70px;

            ul.footer-list {
              list-style: none;

              li {
                font-family: @font-serif;
                font-size: 12px;
                line-height: 22px;
              }

              li:first-child {
                font-family: @font-sans;
                font-size: 14px;
                font-weight: @bold;
                margin-bottom: 15px;
                text-transform: uppercase;
              }
            }
          }
          section.ads {
            background-color: #595959;
            padding-top: 50px;
            padding-bottom: 70px;

            .newsletter-cont {
              margin-bottom: 50px;

              input {
                font-size: 12px;
                font-style: italic;
                color: #000;
                width: 270px;
                background-color: #e2e2e2;
                border: none;
                height: 40px;
                padding-left: 10px;
                margin-right: -5px;
              }
              .btn-newsletter {
                font-family: @font-sans;
                font-size: 12px;
                font-weight: @bold;
                width: 120px;
                background-color: @color;
                height: 40px;
                color: #FFF;
                text-align: center;
                border: none;
              }
            }
            .social-cont {
              ul.footer-socials {
                list-style: none;

                li {
                  display: inline-block;
                  margin-right: 0px;

                  a  {
                    color: #FFF;
                    font-size: 28px;

                    i:before {
                      margin: 0px;
                    }
                  }
                }
              }
            }

          }

          section.group {
            background-color: #b2b2b2;
            padding-top: 50px;
            padding-bottom: 70px;

            h1 {
              color: #000;
            }

            .gencat {
              width: 150px;
            }

            ul.logos-corp  {
              list-style: none;

              li {
                display: inline-block;
                margin-right: 30px;

                img {
                  max-width: 100%;
                  height: auto;
                }
              }
            }
            ul.legal {
              list-style: none;
              
              li {
                a {
                  color: #000;
                  font-size: 12px;
                  line-height: 22px;
                }
              }

            }
          }
          .socket {
            font-family: @font-sans;
            background-color: @color;
            height: 80px;
            color: #FFF;
            font-size: 13px;
            line-height: 80px;
          }
        }  

        .fit-vertical {
          display: table-cell;
          height: 100%;
          vertical-align: top;
        }


        /*-------------- Desktop landscape ---------------*/

        @media (min-width: 1200px) {

        }


        /*-------------- Desktop potrait ----------------*/

        @media (min-width: 980px) and (max-width: 1199px) {

          header.header nav ul li:before {
            padding-left: 30px;
          }
          header.header nav ul li:after {
            padding-right: 30px;
          }

        }


        /*--------------- Tablet ipad --------------------*/

        @media (min-width: 768px) and (max-width: 991px) {
         header.header nav ul li:before {
          padding-left: 15px;
        }
        header.header nav ul li:after {
          padding-right: 15px;
        }
      }


      /*--------------- Tablet ipad --------------------*/

      @media (min-width: 768px) and (max-width: 979px) {

        header.header nav ul li:before {
          padding-left: 15px;
        }
        header.header nav ul li:after {
          padding-right: 15px;
        }

      }


      /*--------------- PHONE --------------------------*/
      @media(max-width:767px) {

        header.header nav {
          display: none;
        }
        body.home .header-wrapp {
          position: relative;
          height: 80px !important;
        }
        header.header {
          height: 80px !important;
          border-bottom: 1px solid #e2e2e2;
        }
        body.home header.header .navbar-brand {
          padding-top: 28px !important;
        }
        body.home header.header .navbar-brand {
          width: 150px !important;
        }
        body.home header.header .hamburger {
          top: 31px !important;
        }
        body.home header.header .search {
          top: 27px !important;
        }

      }
